@font-face {
  font-family: "FF8Font";
  src: url("FF8.ttf") format("truetype");
} /* https://github.com/rustyworks/my-programming-font/tree/master */

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

body {
  background: transparent;
  margin: 0;
  padding: 10px;
  font-family: "FF8Font", sans-serif;
  font-size: 1.8rem;
  color: #ededed;
  text-shadow: #414131 2px 2px;
  line-height: 1.4;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

h1 {
  font-family: "FF8Font", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #ffd700;
  text-shadow: #414131 2px 2px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: none;
}

.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-list li {
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;
}

.content-list li::before {
  content: "â–¶";
  position: absolute;
  left: 0;
  color: #00ffff;
  font-size: 0.8em;
  top: 50%;
  transform: translateY(-50%);
}

a {
  color: #00ffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 45px;
}

a:hover {
  color: #ffd700;
}

a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 25px;
  background: url("cursor.png") no-repeat center center;
  background-size: contain;
}

@keyframes fingerPoint {
  from {
    left: 0px;
  }
  to {
    left: 5px;
  }
}

details summary {
  list-style: none;
  cursor: pointer;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.blurb {
  margin: 10px 0 20px 20px;
  padding: 10px;
  border-left: 2px solid #747474;
  background: rgba(255, 255, 255, 0.05);
  font-size: 0.9rem;
  line-height: 1.4;
}

summary:hover {
  color: #ffd700;
}
